.venv
data
site
*.pyc
*.DS_Store
__init__.py
*.csv
*.log
__pycache__
*.log
dist/
sdist/
**/__pycache__/

# Added by Claude Task Master
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Task files
tasks.json
tasks/ 

# claude
.claude/
.venv/
claude.md
.windsurfrules
package-lock.json
package.json
README-task-manager.md
.env.example
/scripts/
.cursor/*